.gaming-container {
  width: 60%;
  margin: auto;
}

.gaming-container p {
  font-size: 18px;
}

.product-price {
  font-weight: 600;
  margin-bottom: 50px;
}

.back {
  width: 60%;
  margin: auto;
}

.back-paragraph {
  font-size: 24px;
  width: 100px;
  background-color: #1e2651;
  text-align: center;
  padding: 5px;
  color: #fea621;
  cursor: pointer;
}

body {
  font-size: 12px;
}

.product-image {
  margin-top: 50px;
  height: 700px;
  align-self: center;
}

.cart-btn {
  background-color: #1e2651;
  color: #fea621;
  padding: 10px 50px 10px 50px;
  font-size: 20px;
}
